<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034853503060-aj1pv6v2ruj6m0f4e2spai56226gv9a6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034853503060-aj1pv6v2ruj6m0f4e2spai56226gv9a6</string>
	<key>API_KEY</key>
	<string>AIzaSyDhXvnDhO7tXhjrXERtfSqOJRxq0Df3Z44</string>
	<key>GCM_SENDER_ID</key>
	<string>1034853503060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authsm</string>
	<key>PROJECT_ID</key>
	<string>points-with-rita</string>
	<key>STORAGE_BUCKET</key>
	<string>points-with-rita.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034853503060:ios:3e11c60c6e8b809a439dc1</string>
	<key>DATABASE_URL</key>
	<string>https://points-with-rita.firebaseio.com</string>
</dict>
</plist>